*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-text{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.book-list{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    display: inline-block;
    transform-style: preserve-3d;
    position: relative;
    width: 230px;
    height: 300px;
    cursor: pointer;
    backface-visibility: visible;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
    background-color: #807d7d;
  }
  
  .front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .page1 { 
    background: #efefef;
  }
  
  .page2 {
    background: #efefef;
  }
  
  .page3 {
    background: #f5f5f5;
  }
  
  .page4 {
    background: #f5f5f5;
  }
  
  .page5 {
    background: #fafafa;
  }
  
  .page6 {
    background: #fdfdfd;
  }
  
  .book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }

  .book-in-title{
    transform: rotateY(540deg) scale(1.0);
    text-align: center;
    }
  
  .book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
  }


  .info-box{
    width: 220px;
    padding-top: 20px;
    padding-right: 5px;
  }
  .book-title{ 
      display: block;
      margin-bottom: 50px;
      text-align: center;
      font-size: 20px;
      line-height: 25px; 
    color: #fff;
  }


  .book-year-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 5px;
}

.book-year-box p{
    color: #fff;
}

  .book-year{
    position: relative;
    margin-left: 25px;
  }

  .book-year::before{
    content: "";
    position: absolute; 
    left: -26px;
    top: 3px;
    background-image: url("/images/calendar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

  }
  .book-pages{
    position: relative;
    margin-left: 25px;
  }

  .book-pages::before{
    content: "";
    position: absolute; 
    left: -26px;
    top: 3px;
    background-image: url("/images/paper.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

  }
  .book-language{
    position: relative;
    margin-left: 25px;
  }

  .book-language::before{
    content: "";
    position: absolute; 
    left: -26px;
    top: 3px;
    background-image: url("/images/translation.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  .book-country{
    position: relative;
    margin: 0;
    margin-left: 25px;
    padding: 0;
  }

  .book-country::before{
    content: "";
    position: absolute; 
    left: -26px;
    top: 3px;
    background-image: url("/images/pin.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  .book-info-more{
    margin-top: 50px;
  }
  .book-author{
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
  }



  .book-wiki{
    padding: 3px 6px;
    color: #fff;
  }